{include 'header.html'}

<h1 id="h1_admin">{i18n 'Gallery management'); ?></h1>


<p class="message"><?php lbm::headerMessage(); ?></p>

<h2>{i18n 'Add a gallery'}</h2>
<form action="<?php lbm::linkActionIndexAddGallery();?>" method="post">
  <fieldset><legend>{i18n 'Add a new gallery'} </legend>
    <p><label for="ajout_galerie" class="float">{i18n 'Choose a name : '} </label>
      <input type="text" name="ajout_galerie" id="ajout_galerie" mXattribut="value:val_ajout_galerie" />
      <span class="erreur"><mx:text id="err_ajout_galerie"/></span>
    </p>
    <p>
      <input class="submit" type="submit" value="{i18n 'Create the gallery'}"/>
    </p>
  </fieldset>
</form>


<h2>{i18n 'Gallery cache'}</h2>
<ul>
  <li><a href="<?php lbm::linkActionIndexPurgecache();?>">{i18n 'Delete the cache for all galleries'}</a></li>
  <li><a href="<?php lbm::linkActionIndexGencache();?>">{i18n 'Generate the cache for all galleries'}</a></li>
</ul>

<h2>{i18n 'Gallery sort'}</h2>
<p><strong>{i18n 'Manual sort'}</strong> : <a mXattribut="href:triUrl">{i18n 'Sort manually the galleries.'}</a></p>
<form action="<?php lbm::linkActionIndexSort(); ?>" method="post">
  <fieldset><legend>{i18n 'Choose a sort criteria :'}</legend>
    <?php lbm::indexSortSelect(); ?>
    <p><input class="submit" type="submit" value="{i18n 'Submit the sort criteria'}" /></p>
  </fieldset>
</form>

<h2>{i18n 'Gallery list'}</h2>



<?php if ($res->EOF()):?>
{i18n 'There is no gallery to consult.'}

<?php else: ?>
<div id="liste_photo_div">
  <table id="liste_photo" summary="{i18n 'Gallery list'}">
    <tr>
      <th>{i18n 'Gallery'}</th>
      <th>{i18n 'Manage'}</th>
      <th>{i18n 'Rename'}</th>
      <th>{i18n 'Private'}</th>
      <th>{i18n 'Delete'}</th>
    </tr>

    <?php while (!$res->EOF()):?>
    <tr id="tdde">
      <td class="liste_photo_td">
        <div mxAttribut="id:galerie_id"></div>
        <p><?php  lbm::defaultImage();?></p>
      </td>
      <td class="description_td">
        <p>
          <h4><?php lbm::galleryNiceName();?></h4>
          <?php if (lbm::hasPhotos()):?>
          <span class="infos">
            <?php lbm::galleryNbPhotos();?>
            {i18n ' pictures - '}
            <?php lbm::galleryNiceSize();?>.
          </span> 
          <?php endif;?>

          <div class="consulter">
            <ul>
              <?php lbm::linkManageGallery("<li>%s</li>", __('Manage'));?>
              <?php lbm::linkSubGallery("<li>%s</li>", __('Sub galleries'));?>
            </ul>
          </div>
        </p>
      </td>
      <td class="description_td">
        <p class="message"><mx:text id="message_modifier_galerie"/></p>

        <form action="<?php lbm::linkActionIndexGalleryRename();?>" method="post">
          <p>
            <label mXattribut="for:for_id" class="float"><strong>{i18n 'New name'} : </strong></label>
            <input type="text" name="modifier_galerie" mXattribut="value:val_modifier_galerie;id:id_id" />
            <span class="erreur"><mx:text id="err_modifier_galerie"/></span>
          </p>
          <p>
            <input class="submit" type="submit" value="{i18n 'Rename'}" />
          </p>
        </form>
      </td>
      <td class="liste_photo_td">
        <p><strong>{i18n 'Private'} : </strong>
          <?php if(lbm::isPrivate()):?>
             {i18n 'yes'}<br />
             <?php if(lbm::isPrivateExact()):?>
          		<a href="">{i18n 'set as public'}</a>
             <?php endif;?>
          <?php else:?>
             {i18n 'no'}<br />
          	<a href="">{i18n 'set as private'}</a>
          <?php endif;?>
          </p>
      </td>
      <td class="liste_photo_td">
        <p><a href="<?php lbm::linkActionIndexGalleryDelete();?>"><img src="<?php lbm::imgSrc('delete.png');?>" alt="{i18n 'Delete'}" /></a></p>
      </td>
    </tr>
    <?php $res->moveNext();
    endwhile;?>
  </table>
</div>

<?php endif;?>





{include 'footer.html'}
