{include '_header.html'}

<body id="bodyCommentaire">  

  <div id="commentList">
    <h2>{i18n 'Comments'}</h2>

    {if $img.commentCount == 0}
      {i18n 'No comments'}
    {else}
    {foreach $comments as $comment}
    <div id="comment">
      <div class="info">Le {$comment.date|dateFormat:$cfg['date_format']},
        <strong>{$comment.author}</strong>
        {if $comment.website != ''}
        - <a href="{$comment.website}" ref="nofollow">{i18n 'Web site'}</a>
        {/if}
        {if $comment.email != ''}
        - <a href="mailto:{$comment.email}" ref="nofollow">{i18n 'Email'}</a>
        {/if}
      </div>
      <div id="co1" class="content">
        {$comment.content |nl2br}
      </div>
    </div>
    {/foreach}
    {/if}
  </div>


  <div id="commentAdd">
    <h2>{i18n 'Add a comment'}</h2>
    
    <form method="post" action="">
      <input type="hidden" name="action" id="action" value="ct"/>

      <fieldset>
        <legend>{i18n 'Add a comment'}</legend>
        <p>
          <label for="author" class="float"><strong>{i18n 'Name or nickname'}</strong> : </label>
          <input type="text" name="author" id="author" value="{$ctPost.author}"/>
          {$ctPost->getError('author')|errorSpan}
        </p>
        <p>
          <label for="website" class="float">{i18n 'Web site'} : </label>
          <input type="text" name="website" id="website" value="{$ctPost.website}"/>
          {$ctPost->getError('website')|errorSpan}
        </p>
        <p>
          <label for="email" class="float">{i18n 'Email'} : </label>
          <input type="text" name="email" id="email" value="{$ctPost.email}"/>
          {$ctPost->getError('email')|errorSpan}
        </p>
        <p>
          <label for="content" class="float"><strong>{i18n 'Comment'}</strong> : </label>
          <textarea name="content" id="content" cols="40" rows="5">{$ctPost.content}</textarea>
          {$ctPost->getError('content')|errorSpan}
        </p>
      </fieldset>

      <p>
        <input type="submit" value="{i18n 'Add'}"/>
        <input type="reset" value="{i18n 'Clear'}"/>
      </p>
    </form>
  </div>

  <p><a href="javascript:window.close();">{i18n 'Close the window'}</a></p>
</body>

{include '_footer.html'}