<?php echo '<?xml version="1.0" encoding="UTF-8"?>';?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="MSSmartTagsPreventParsing" content="TRUE" />
    <title>{$cfg['gallery_name']}</title>
    <script  type="text/javascript" src="{$cfg['url_base']}templates/common/javascript/slideshow.js"></script>

	{style}
    
    <link rel="stylesheet" href="{$cfg['url_base']}templates/public/luxbum/themes/slideshow.css" title="" type="text/css"/>
  </head>

<body>

  <script type="text/javascript">
    <!--
      var photosURL = new Array();

      {assign $cpt =0}
      {foreach $gallery as $img}
      photosURL[{$cpt}] = "{$img.previewUrl}";
      {assign $cpt=$cpt+1}
      {/foreach}

      var smoothtrans = {$cfg['slideshow_fading']}; // Set this to false to prevent any fading effect
      var slide_speed = {$cfg['slideshow_time']};
     -->
  </script>


  <div id="slide">
    <div id="cont_1"><img src="#" id="image_slide1" alt="{i18n 'Image is loading'}" /></div>
    <div id="cont_2"><img src="#" id="image_slide2" alt="Picture buffer 2" /></div>

    <div id="controle">
      <div id="s_end"><img src="{$cfg['color_theme_path']}/images/sl_end.png" alt="{i18n end}" title="{i18n end}"/></div>
      <div id="s_next"><img src="{$cfg['color_theme_path']}/images/sl_next.png" alt="{i18n next}" title="{i18n next}"/></div>
      <div id="s_start"><img src="{$cfg['color_theme_path']}/images/sl_start.png" alt="{i18n start}" title="{i18n start}"/></div>
      <div id="s_prev"><img src="{$cfg['color_theme_path']}/images/sl_previous.png" alt="{i18n previous}" title="{i18n previous}"/></div>
      <div id="s_play"><img src="{$cfg['color_theme_path']}/images/sl_play.png" alt="{i18n 'Start'}" title="{i18n 'Start'}"/></div>
      <div id="s_pause"><img src="{$cfg['color_theme_path']}/images/sl_pause.png" alt="{i18n 'Stop'}" title="{i18n 'Stop'}"/></div>
      <div id="s_info"><img src="{$cfg['color_theme_path']}/images/sl_info.png" alt="{i18n 'Image informations'}" title="{i18n 'Image informations'}"/></div>
      <div id="s_options"><img src="{$cfg['color_theme_path']}/images/sl_options.png" alt="{i18n 'Slideshow options'}" title="{i18n 'Slideshow options'}"/></div>
      <div id="s_help"><img src="{$cfg['color_theme_path']}/images/sl_help.png" alt="{i18n 'About / Keyboard shortcuts'}" title="{i18n 'About / Keyboard shortcuts'}"/></div>
      <br />
    </div>

    <div id="s_options_box">
      <h2>Options</h2>
      <input type="checkbox" id="smoothtrans" checked="checked"/> {i18n 'Enable fading'}<br />
      <input type="text" id="slide_speed" size="1" maxlength="1" value="4" /> {i18n 'Time between each image (sec)'} <br />
    </div>
    <div id="s_exif_info"></div>
    <div id="s_help_box">
      <h2>{i18n 'About'}</h2>
      <p><strong>ESS</strong> {i18n 'by'} <strong>Yann HAMON</strong> {i18n 'adapted for luxbum'}</p>
      <p id="k_shortcuts">{i18n 'Keyboard shortcuts'}</p>
      <ul>
        <li><strong>{i18n 'Space'}</strong> : {i18n 'Start/pause the slideshow'}</li>
        <li><strong>{i18n 'Left/right arrows'}</strong> : {i18n 'Previous image, next'}</li>
        <li><strong>i</strong> : {i18n 'Image Meta Data'}</li>
        <li><strong>o</strong> : {i18n 'Options'}</li>
        <li><strong>h</strong> : {i18n 'Show this help'}</li>
      </ul>
    </div>
  </div>
</body>
{include '_footer.html'}
