body { 
	margin : 0;
	padding : 0;
	background-color: #181818;
	font-size:10px;
	font-family:"Trebuchet MS",Verdana,Arial,Helvetica,Sans-serif;
	color:#CBCBCB;
}
#body_affichage { 
	margin : 0;
	padding : 0;
	background-color: #2C2C2C;
	font-size:10px;
	font-family:"Trebuchet MS",Verdana,Arial,Helvetica,Sans-serif;
}
#body_commentaire {
	padding:15px;
	background-color: #181818;
	font-size:10px;
	font-family:"Trebuchet MS",Verdana,Arial,Helvetica,Sans-serif;
	color:#CBCBCB;
}

a img {
	border: none;
}

a {
	color : #E1E1E1; 
	text-decoration:none;
}

a:visited{
}

a:hover, a:focus, a:active {
	color: #E1E1E1;
	text-decoration:underline;
}

.description_td { 
	font-size:10px;
	text-align: center;
}

#page { 
	width:100%;
	height: 540px; 
	position:absolute;
	top: 50%;
	margin-top: -290px;
}
  
#center {
	position:absolute;
	height: 540px; 
	width:1000px;
	left: 50%;
	margin-left: -507px; /* moitié de la hauteur */
}

/*===========================================
   Copyrights
=============================================*/
#footer { 
	width:100%;
	text-align:center;
	padding-top:5px;
}
 
#footer2 {
	text-align:center;
	margin:50px 20px 0 0;
}
 

#footer { 
	position:absolute;
	top:560px;
	font-size:10px;
	color:#BEBEBE;
}
 
#footer a:link, #footer a:visited { 
	color:#BEBEBE;
}

#footer2 { 
	font-size:10px;
}

/*===========================================
   Page d'accueil
=============================================*/

h1 {
	text-align:center;
	background:url('../_images/luxbum_h1_dark.jpg') center no-repeat;
	height:160px;
}

h1 span {
	display:none;
}


#liste_apercu { 
	text-align: left;
	width:870px;
	position: relative;
	left: 50%; 
	margin-left: -435px;
	background: #545353;
	border: 1px solid #CFCFCF;
	-moz-border-radius:6px;
	-border-radius:6px;
	padding: 15px 5px 5px 5px;
 }

#liste_apercu table {
	width:870px;
	border:0;
	text-align: left;
}

#liste_apercu table tr td{
	width:33%;
}

#liste_apercu img {
	padding:2px;
}

#liste_apercu a { 
	font-size:10px;
	font-family: verdana, helvetica, arial, sans-serif;
}

#liste_apercu h2 { 
	font-size:14px;
	margin:0px;
	padding:0px;
	color:#FFC600;
}

.lg {
	height:100px;
	width:100px;
	float:left;
}

.ld {
}

span.infos { 
	font-size:10px;
	font-family: verdana, helvetica, arial, sans-serif;
/*	color:#E1E1E1;*/
}

.gras { 
	font-weight: bold;
}


/*===========================================
   Les vignettes
=============================================*/
#apercu {
	text-align: left;
	width: 294px;
	height:520px;
	margin: 10px 10px 10px 5px;
	position: relative;
	background:#2C2C2C;
	border: 1px solid #838183;
	-moz-border-radius:6px;
	-border-radius:6px;
	padding: 15px 5px 5px 5px;
}

.liste_apercu { 
	height:110px;
	width:294px;
}

.view_photo { 
	height:100%;
	text-align:center;
}
  
.num_photo { 
	text-align:center;
	padding-top:3px;
	color:#ACC3C4;
	font-size:10px;
}

.view_photo img {
	padding:3px;
}

h1.vig_titre {
	display:none;	
}

td.v3col {
	height:90px;
	width:33%;
}

td.v2col {
	height:130px;
	width:33%;
}
/** upd dark 1 **/
.view_photo, .view_photo_selected { 
	height:100%;
	text-align:center;
}

.view_photo_selected  img, .photo_selected  img{ 
	border:2px solid #B6B4B6;
	padding:1px;
}
/**fin  upd dark 1 **/


/*===========================================
   Navigation par pages
=============================================*/
#aff_page { 
	width:300px;
	text-align:center;
	margin-top:10px;
}
/* Ici pour définir la couleur de fond du cadre ! */
.tborder {
	background-color: #5A5A5A;
	color: red;
	margin: auto;
}
/* page non courante */
.alt1 {
	background-color: #535353;
	color: #000000;
	text-align:center;
	font-weight : bold;
}
/* page courante */
.alt2 {
	background-color: #A9A9A9;
	color: #000000;
	text-align:center;
}
.alt2 a {
	text-align:center;
	font-weight : bold;
	color: #000000;
}
/* page x sur y */
.affpage {
	background: #CBCBCB;
	color: #2B3842;
	font: bold 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	padding: 3px 6px 3px 6px;
	white-space: nowrap;
}



/*===========================================
   Barre navigation
=============================================*/
#menunav {
	margin-left:10px;
	text-align:left;
	font-size: 12px
}

#menunav a {
	font-size: 12px
}
 
ol.tree {
	position: relative;
	margin: 0 0 1em 0;
	padding: 0;
	border-bottom: 1px solid #000;
}

ol.tree li {
	display: inline;
	list-style-type: none;
	padding-right: 0.7em;
	padding-left: 0;
}

/*===========================================
   Affichage des images
=============================================*/

#iframeaffichage {
	width:660px;
	height:530px;
	text-align: left;
	margin: 0;
	background: #2C2C2C;
	border:1px solid #838183;
	-moz-border-radius:6px;
	-border-radius:6px;
	padding: 5px 5px 5px 5px;
}

#iframeaffichage iframe {
	width:660px;
	height:520px;
/* 	border:1px solid red; */
}


#affichage_photo img {
/* 	border: 3px solid #ECECEC; */
}

#affichage_photo {
	text-align:center;
}

/*===========================================
   Table des informations EXIF
=============================================*/
table.clean-table {
	border-collapse: collapse;
}

table.clean-table tr {
}

table.clean-table th {
	border: 1px solid #000;
	padding: 0.5em;
}

table.clean-table td {
	border: 1px solid #666;
	padding: 0.5em;
	font-size:11px;
}


/*===========================================
   Commentaires
=============================================*/
#addcomment div#ac-content {
	font-size:12px;
}
.comment-post{
	margin-bottom: 10px;
}
.comment-info{
	font-style: italic;
	font-size:10px;
	margin:0.5em 0 0.6em 0;
	color: #E6E6E6;
	margin: 0 0 0 15px;
	font-size: 11px;
}
.comment-content{
	font-weight: normal;
	color: #F2F2F2;
	background: #545353;
	border: 1px solid #CFCFCF;
	padding: 5px;
	margin: 0 0 0 5px;
	font-size: 12px;
}
.comment-content p{
	padding:0;
	margin:0;
}
input, textarea, option, select {
	background: #eef3f5;
	color: #000;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 1em;
    margin-top: 2px;
}
input, textarea, select {
	border: 1px solid #999;
}
legend {
	font-weight: bold;
}
label, span.label {
	display: block;
	position: static;  /* IE n'aime pas relative */
}
p.field {
	clear: left;
	margin: 0;
	padding: 1em 0 0 0;
}
label.float, span.label {
	position: relative;
	float: left;
	width: 25%;
	padding-right: 0.5em;
}
fieldset {
	background: #545353;
	border: 1px solid #CFCFCF;
}
legend {
	display:none;
}
span.erreur {
	color:red;
}

