@CHARSET "UTF-8";

#slide {
  margin-left:auto;
  margin-right: auto;
  margin-top:15px;
  height:510px;
  width:650px;
  position:relative;
}

#cont_1, #cont_2{
  height:485px;
  position:absolute;
  left:0;
  top:0;
  background:transparent;
  text-align:center;
  width:650px;
}

#image_slide1 , #image_slide2{
}

#image_slide1 {
  z-index:2;
}

#image_slide2 {
  z-index:1;
  opacity: 0;
}

#controle {
  /*background-color: black;*/
  text-align:center;
  color: white;
  font-weight:bold;
  height: 25px;
  position: absolute;
  bottom:0;
  left:0;
  z-index:1000;
  width:646px;
  margin-left:2px;
}

#s_prev, #s_next, #s_play, #s_pause, #s_info, #s_options, #s_help, #s_start, #s_end {
  display:inline;
  padding:0;
  margin:0;
  margin:0 5px;
  top:3px;
  padding-top:3px;
  vertical-align:middle;
}

#s_play, #s_pause {
  padding-top:10px;
}

#s_info, #s_options, #s_help {
  position: relative;
  margin: 0 0 0 2px;
}

#s_info {
  margin-left:40px;
}

#s_prev, #s_start {
  float: left;
}

#s_next, #s_end {
  float: right;
}

#s_pause {
  display:none;
}

#s_exif_info, #s_options_box, #s_help_box {
  position:absolute;
  right:auto;
  bottom:auto;
  background-color: white;
  opacity: 0.8;
  filter : alpha(opacity=80);
  width:80%;
  left:10%;
  top:15%;
  text-align:left;
  border: 1px solid #666;
  padding: 10px 10px 20px 10px;
  visibility: hidden;
  z-index:4;
  -moz-border-radius:15px;
  border: 1px solid #999;
}

#s_exif_info h2, #s_options_box h2, #s_help_box h2 {
  text-align:center;
  color: black;
  font-size: 110%;
  font-weight: bold;
  margin: 5px 0 15px 0;
}


#controle div, #controle span, #s_prev, #s_next, #s_play, #s_pause, #s_options, #s_help {
  cursor: pointer;
}

#k_shortcuts {
  text-decoration:underline;
  margin-bottom:3px;
}

#s_help_box dt, #s_help_box dd { float: left; }
#s_help_box dt  { clear: left;font-weight:bold; }
#s_help_box dd  { clear: right; }