body { 
	margin : 0;
	padding : 0;
	background-color: #EEE;
	font-size:10px;
	font-family:"Trebuchet MS",Verdana,Arial,Helvetica,Sans-serif;
}
  
#body_affichage { 
	margin : 0;
	padding : 0;
	background-color: #FFF;
	font-size:10px;
	font-family:"Trebuchet MS",Verdana,Arial,Helvetica,Sans-serif;
}
#body_commentaire {
	padding:15px;
	background-color: white;
}
a img {
	border: none;
}
a {
	color : #246; 
	text-decoration:none;
}
a:visited{
	color: #666;
}
a:hover, a:focus, a:active {
	color: #333;
	text-decoration:underline;
}
.description_td { 
	font-size:10px;
	text-align: center;
}
#page { 
	width:100%;
	height: 540px; 
	position:absolute;
	top: 50%;
	margin-top: -290px;
}
#center {
	position:absolute;
	height: 540px; 
	width:1000px;
	left: 50%;
	margin-left: -507px; /* moitié de la hauteur */
}
div.spacer {
	clear:both;
}

/*===========================================
   Copyrights
=============================================*/
#footer, #footer2, #footer3 {
	height:23px;
	width:100%;
	border-top:1px solid #838183;
	border-bottom:1px solid #838183;
	background:#fff;
	text-align:center;
	padding-top:5px;
	font-weight: bold; 
}
#footer2 {
	height:35px;
	text-align:center;
	margin:50px 20px 0 0;
	font-size:10px;
}
#footer { 
	position:absolute;
	top:570px;
	font-size:10px;
	color:#BEBEBE;
}
#footer a:link, #footer a:visited { 
	color:#BEBEBE;
}

/*===========================================
   Page d'accueil
=============================================*/

h1 {
	text-align:center;
	background:url('../_images/luxbum_h1.jpg') center no-repeat;
	height:160px;
}
h1 span {
	display:none;
}
#liste_apercu { 
	text-align: left;
	width:880px;
	position: relative;
	left: 50%; 
	margin-left: -435px;
	background: #FFF;
	border: 1px solid #CFCFCF;
	-moz-border-radius:6px;
	-border-radius:6px;
	padding: 15px 10px 5px 10px;
}
#liste_apercu div.galerie {
	float:left;
	width:287px;
	height:100px;
}
#liste_apercu img {
	border:1px solid #DEDEDE;
	padding:2px;
}
#liste_apercu a { 
	font-size:10px;
	font-family: verdana, helvetica, arial, sans-serif;
}
#liste_apercu h2 { 
	font-size:14px;
	margin:0 0 5px 0;
	padding:0px;
	color:#000;
}
.lg {
	height:100px;
	width:100px;
	float:left;
}
.ld {
}
span.infos { 
	font-size:10px;
	font-family: verdana, helvetica, arial, sans-serif;
/*	color:#E1E1E1;*/
}
.gras { 
	font-weight: bold;
}
.consulter ul {
	margin:0px;
	padding: 5px 4px 16px 6px ;
}
.consulter ul li {
    padding: 1px 0 1px 0;
    line-height: 120%;
    list-style: none;
}
.consulter ul li a {
    padding: 0 0 0 12px;
    background: transparent url('../_images/fleche1.png') no-repeat top left;
}


/*===========================================
   Les vignettes
=============================================*/
#apercu {
	text-align: left;
	width: 294px;
	height:542px;
	margin: 0px 10px 10px 0px;
	position: relative;
	background:#FFF;
	border: 1px solid #cfcfcf;
	-moz-border-radius:6px;
	-border-radius:6px;
	padding: 15px 5px 5px 5px;
	float:left;
}
*> #apercu {
	height:520px;
}
.liste_apercu { 
	height:110px;
	width:294px;
}
.view_photo { 
	height:100%;
	text-align:center;
}
.num_photo { 
	text-align:center;
	padding-top:3px;
	color:#acc3c4;
	font-size:10px;
}
.view_photo img { 
	border:1px solid #DEDEDE;
	padding:2px;
}
h1.vig_titre {
	display:none;	
}
div.vignette3col {
	height:90px;
	width:98px;
	float:left;
}
div.vignette2col {
	height:150px;
	width:145px;
	float:left;
}
/** upd dark 1 **/
.view_photo, .view_photo_selected { 
	height:100%;
	text-align:center;
}
.view_photo_selected  img, .photo_selected  img{ 
	border:2px solid #ABABAB;
	padding:1px;
}
/**fin  upd dark 1 **/


/*===========================================
   Navigation par pages
=============================================*/
#aff_page { 
	width:300px;
	text-align:center;
	margin-top:10px;
}
/* Ici pour définir la couleur de fond du cadre ! */
.tborder {
	background-color: #5A5A5A;
	margin: auto;
	font-size:10px;
}
/* page non courante */
.alt1 {
	background-color: #D6D6D6;
	color: #000000;
	text-align:center;
	font-weight : bold;
}
/* page courante */
.alt2 {
	background-color: #A9A9A9;
	color: #000000;
	text-align:center;
}
.alt2 a {
	text-align:center;
	font-weight : bold;
	color: #000000;
}
/* page x sur y */
.affpage {
	background: #97C6E8;
	color: #2B3842;
	font: bold 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	padding: 3px 6px 3px 6px;
	white-space: nowrap;
}



/*===========================================
   Barre navigation
=============================================*/
#menunav {
	margin-left:10px;
	text-align:left;
	font-size: 12px
}
#menunav a {
	font-size: 12px
}
ol.tree {
	position: relative;
	margin: 0 0 1em 0;
	padding: 0;
	border-bottom: 1px solid #f5f5dc;
}
ol.tree li {
	display: inline;
	list-style-type: none;
	padding-right: 0.7em;
	padding-left: 0;
}


/*===========================================
   Affichage des images
=============================================*/

#iframeaffichage {
	width:660px;
	height:530px;
	text-align: left;
	margin: 0;
	background: #FFF;
	border:1px solid #cfcfcf;
	-moz-border-radius:6px;
	-border-radius:6px;
	padding: 5px 5px 5px 5px;
	float:left;
}
#iframeaffichage iframe {
	width:660px;
	height:530px;
}
#affichage_photo {
	text-align:center;
}
#laphoto {
	height: 500px;
}
#laphoto img {
	border:1px solid #DEDEDE;
	padding:2px;
}


/*===========================================
   Table des informations EXIF
=============================================*/
#infos_exif h2 {
	font-size:12px;
}
table.clean-table {
	border-collapse: collapse;
}
table.clean-table tr {
}
table.clean-table th {
	border: 1px solid #000;
	padding: 0.5em;
}
table.clean-table td {
	border: 1px solid #666;
	padding: 0.5em;
	font-size:11px;
}

/*===========================================
   Commentaires
=============================================*/
#addcomment h2, #voircomment h2 {
	font-size:12px;
}
#addcomment div#ac-content {
	font-size:12px;
}
.comment-post{
	margin-bottom: 10px;
}
.comment-info{
	font-style: italic;
	font-size:10px;
	margin:0.5em 0 0.6em 0;
	color: #898B89;
	color: #666;
	margin: 0 0 0 15px;
	font-size: 11px;
}
.comment-content{
	font-weight: normal;
	color: #333;
	background: #EFF5FF;
	border: 1px solid #DCE9FF;
	padding: 5px;
	margin: 0 0 0 5px;
	font-size: 12px;
}
.comment-content p{
	padding:0;
	margin:0;
}
input, textarea, option, select {
	background: #eef3f5;
	color: #000;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 1em;
    margin-top: 2px;
}
input, textarea, select {
	border: 1px solid #999;
}
legend {
	font-weight: bold;
}
label, span.label {
	display: block;
	position: static;  /* IE n'aime pas relative */
}
p.field {
	clear: left;
	margin: 0;
	padding: 1em 0 0 0;
}
label.float, span.label {
	position: relative;
	float: left;
	width: 25%;
	padding-right: 0.5em;
}
fieldset {
	border: 1px solid #999;
	padding: 10px;
	margin-top:20px;
}
legend {
	padding: 1px 4px;
	border-color: #999 #ccc #ccc #999;
	border-style: solid;
	border-width: 1px;
	background: #eee;
}
span.erreur {
	color:red;
}